.toppage-primary-wrapper
  =render 'users/header'
  =render 'users/main'
  =render 'users/new_item'
  =render 'users/pickup_item'
  =render 'users/banner'
  =render 'users/footer'
  =render 'products/sellbutton'