@import './config/colors';
@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'header';
@import 'main';
@import 'banner';
@import 'footer';
@import 'user'
@import 'mypage/mypage';
@import 'mypage/side-bar';
@import 'mypage/content';
@import 'mypage/payment-content';
@import 'mypage/logout';
@import 'new';
