.mypage-content
  %section.mypage-content__user-icon
    = link_to root_path do
      %figure
        = image_tag "member_photo_noimage_thumb.png", height: "60", width: "60"
      %h2.bold furima源五郎
      .mypage-content__user-icon__number
        .mypage-content__user-icon__number-score
          評価
          %span.bold 43
        .mypage-content__user-icon__number-exhibitions
          出品数 4
          %span.bold 