.mypage-content
  .mypage-content__image
    = image_tag "user-background.jpg", width: "700px", height: "200px"
    .mypage-content__image__user
      .mypage-content__image__user-icon
        = image_tag "member_photo_noimage_thumb.png", height: "60px", width: "60px"
      %h2.bold furima源五郎
      .mypage-content__image__user__number
        .mypage-content__image__user__number-score
          評価
          %span.bold 43
        .mypage-content__image__user__number-exhibitions
          出品数
          %span.bold 4