.payment-content
  .payment-content__title 支払い方法
  .payment-content__main
    .payment-content__main__card
      .payment-content__main__card-list クレジットカード一覧
      .payment-content__main__card-add
        %a.payment-content__main__card-add--btn.submit_button{href: "cards/new"}
          %i.fas.fa-credit-card
          クレジットカードを登録する
  .payment-content__method
    = link_to root_path do
      %span.payment-content__method-about 支払い方法について
      %i.fas.fa-chevron-right


  