%body
  .toppage-primary-wrapper
    =render 'sells/header'
    %main.mypage-container.clearfix
      =render 'mypage/side-bar'
      =render 'mypage/content'
    =render 'sells/banner'
    =render 'sells/footer'
