%body
  .toppage-primary-wrapper
    =render 'users/header'
    %main.mypage-container.clearfix
      =render 'mypage/side-bar'
      =render 'mypage/content'
    =render 'users/banner'
    =render 'users/footer'
