.product-screen__footer
  .product-screen__footer__content
    .product-screen__footer__content__head プライバシーポリシー
    .product-screen__footer__content__head FURIMA利用規約
    .product-screen__footer__content__head 特定商取引に関する表記
  .product-screen__footer-logo
    = link_to root_path do
      = image_tag "furima-logo.png", size: "185x49", class: "product-screen__footer--furima-logo"
  %p.copyright © FURIMA