.product-screen__footer {
  background-color: $pale-gray;
  padding: 33px 0;
  text-align: center;
  &__content {
    margin: 0 0 20px;
    display: flex;
    justify-content: center;
    &__head {
      margin-right: 16px;
      font-size: 12px;
    }
  }
}
.toppage__footer-logo {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
}
.copyright {
  font-size: 14px;
}