%banner
  .toppage__banner
    .toppage__banner__content
      .toppage__banner__content__title だれでもかんたん、人生を変えるフリマアプリ
      .toppage__banner__content__text 今すぐ無料ダウンロード！
      .toppage__banner__content__install
        .toppage__banner__content__install__app-store
          = image_tag "app-store.svg", size: "180x54"
        .toppage__banner__content__install__google-play
          = image_tag "google-play.svg", size: "180x54"