%fotter
  .toppage__fotter
    .toppage__fotter__contents
      .toppage__fotter__contents__content
        %h2.toppage__fotter__contents__content__head FURIMAについて
        %ul
          %li 会社概要（運営会社）
          %li プライバシーポリシー
          %li FURIMA利用規約
          %li ポイントに関する特約
      .toppage__fotter__contents__content
        %h2.toppage__fotter__contents__content__head FURIMAを見る
        %ul
          %li カテゴリー一覧
          %li ブランド一覧
      .toppage__fotter__contents__content
        %h2.toppage__fotter__contents__content__head ヘルプ＆ガイド
        %ul
          %li FURIMAガイド
          %li FURIMAロゴ利用ガイドライン
          %li お知らせ
    .toppage__fotter-logo
      = link_to root_path do
        = image_tag "furima-logo-white.png", class: 'toppage__fotter-logo'
    %p.copyright © FURIMA

