%main
  .toppage__main
    .toppage__main__main-image
      .toppage__main__main-image__content
        .toppage__main__main-image__content__title 人生を変えるフリマアプリ
        %p.toppage__main__main-image__content__text FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
        .toppage__main__main-image__content__install
          .toppage__main__main-image__content__install__app-store
            = image_tag "app-store.svg", size: "180x54"
          .toppage__main__main-image__content__install__google-play
            = image_tag "google-play.svg", size: "180x54"
    .toppage__main__introduction
      .toppage__main__introduction__title FURIMAが選ばれる3つの理由
      .toppage__main__introduction__title__line
      .toppage__main__introduction__reasons
        .toppage__main__introduction__reasons__reason
